# Disable npm version control warnings
version-git-tag=false
version-commit-hooks=false
version-git-message="v%s"
version-tag-prefix="v"

# Disable other npm warnings
engine-strict=false
script-shell=true

# Use Yarn as the package manager
yarn=true
